<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/products">Shop</a>
    <button class="navbar-toggler" (click)="isMenuOpen = !isMenuOpen">
      <span>☰</span>
    </button>
    <div class="navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cart-link" routerLink="/cart" routerLinkActive="active">
            Cart
            <span class="cart-count" *ngIf="cartCount > 0">{{cartCount}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
